@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply font-sans bg-slate-50 text-slate-900;
        font-family: "Outfit", sans-serif;
    }
}